.overall {
    background-color: maroon;
}

.gallery {
    background-color: maroon;
    /* width: 100%; this made the div go way off the page for some reason*/
    padding: 1rem 15%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    /* margin-top: 11rem; this was for having navbar fixed */
}

/******************************************Exhibit.js css*/
.exhibit {
    margin: 1rem 1rem 2rem 1rem;
    width: 10rem;
    border: 5px double teal;
    border-radius: 5px;
    box-shadow: 8px 8px 8px rgb(52, 180, 180), 0 0 10px orange, 0 0 10px orangered;
}

.exhibit:hover {
    scale: 1.1;
}

/***************************************Back Button*/
.back-btn {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    margin-left: 1rem;
}

.back-btn-img {
    cursor: pointer;
    width: 2.5rem;
}

/******************************************ExhibitModal.js css*/
.modalbg {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(59, 59, 59, 0.85);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1; /*set z-indexs as back button was showing over modal background*/
}

.modal-xbtn {
    display: flex;
    justify-content: flex-end;
    margin: 0 0 .25rem 0;
    z-index: 1;
}

.modal-xbtn button {
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: yellow;
    text-shadow: 1px 1px 1px rgb(52, 180, 180), 0 0 25px orange, 0 0 5px orangered;
    z-index: 1;
}

i {
    font-size: 1rem;
}

.modal-img {
    /* flex: 50%; */
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px double teal;
    border-radius: 5px;
    box-shadow: 8px 8px 8px rgb(52, 180, 180), 0 0 10px orange, 0 0 10px orangered;
    margin-bottom: 2rem;
    margin-top: 1rem;
    z-index: 1;
}
