.navbar {
    background-color: maroon;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo {
    margin: 3rem 2rem 1rem 5rem;
    width: 50%;
    text-align: center;
    font-family: 'Passero One', cursive;
    font-size: 7rem;
    color: navy;
    text-shadow: 3px 3px 2px yellow, 0 0 25px orange, 0 0 5px orangered;
}

.navlinks {
    display: flex;
    flex-direction: row;
    margin: 4rem 10rem 2rem 2rem;
    justify-content: space-around;
    width: 50%;
    align-items: center;
    font-family: 'Passero One', cursive;
    font-size: 3rem;
    color: navy;
    text-shadow: 1.5px 1.5px 1px rgb(52, 180, 180), 0 0 25px orange, 0 0 5px orangered;
}

.navlink {
    margin: .5rem;
}

.navlink:hover {
    scale: 1.1;
}

.navlink:active {
    color: orange;
    text-shadow: 1.5px 1.5px 1px rgb(52, 180, 180), 0 0 25px orange, 0 0 5px orangered;
}

.socialslogo {
    width: 2rem;
    height: auto;
    margin-top: .6rem;
    margin-left: .5rem;
}

a {
    text-decoration: none;
    color: inherit;
}