.navbar {
    background-color: maroon;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo {
    margin: 2rem 2rem 2rem 5rem;
    width: 50%;
    text-align: center;
    font-family: 'Passero One', cursive;
    font-size: 6rem;
    color: navy;
    text-shadow: 3px 3px 2px yellow;
}

.navlinks {
    display: flex;
    flex-direction: row;
    margin: 2rem 10rem 2rem 2rem;
    justify-content: space-around;
    width: 50%;
    align-items: center;
    font-family: 'Passero One', cursive;
    font-size: 3rem;
    color: navy;
    text-shadow: 1.5px 1.5px 1px rgb(52, 180, 180);
}

.navlink {
    margin: .5rem;
}

.socialslogo {
    width: 2rem;
    height: auto;
    margin-top: .6rem;
    margin-left: .5rem;
}

a {
    text-decoration: none;
    color: inherit;
}